body {
	margin: 0px;
	padding: 0px;
	font-family: 'Patrick Hand SC', cursive !important;
	overflow: hidden;
	background: #FFFAF0;
}
#container {
	position: relative;
	margin:auto;
}
#imageTemp {
	position: absolute;
	top: 0px;
	left: 0px;
}
#title {
	font-size: 22px;
	margin-right: 1em;
}
.navbar-form label {
	color: #aaa;
}
.popup {
	position: fixed;
	top: 3%;
	right: 3%;
}
.popup .well {
	margin-bottom: 1em;
	display: none;
}
footer.footer {
	position:fixed;
	bottom: 1em;
	left: 1em;
}
footer.footer a {
	color: black;
}